<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Resource auth="Container" mail.debug="true" mail.smtp.auth="true" mail.smtp.auth.mechanisms="LOGIN" mail.smtp.connectiontimeout="12500" mail.smtp.from="no-responder@devprov.gdeba.gba.gob.ar" mail.smtp.host="mx01.devprov.gdeba.gba.gob.ar" mail.smtp.port="25" name="mail/Session" type="javax.mail.Session"/>
    <Environment description="Nombre del Nodo" name="nombreNodo" override="false" type="java.lang.String" value=""/>

    <!-- MASTER KEY -->
    <Environment description="Encription master key" name="masterKey" override="false" type="java.lang.String" value="1234567890"/>

</Context>